TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=
PUBLIC_BASE_URL=
TRIPAY_CALLBACK_URL=
TRIPAY_RETURN_URL=
FIXIE_URL=
PROXY_URL=
POSTGRES_PASSWORD=
NEXT_PUBLIC_BASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_JWT_SECRET=
POSTGRES_URL=
SUPABASE_PUBLISHABLE_KEY=
POSTGRES_DATABASE=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
POSTGRES_HOST=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
